{% extends 'base.html.twig' %}

{% block title %}New Guestbook{% endblock %}

{% block body %}
    <h1>Create new Guestbook</h1>

    {{ include('guestbook/_form.html.twig') }}

    <a href="{{ path('app_guestbook_index') }}">back to list</a>
{% endblock %}
